:root{

    --space-cadet: #2b2d42ff;
    --cool-gray: #8d99aeff;
    --antiflash-white: #edf2f4ff;
    --red-pantone: #ef233cff;
    --crimson: #d80032ff;
}

*{
    padding: 0;
    margin: 0;
}

body, html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

main.app{
    background-color: var(--antiflash-white);
    border-radius: 15px;
    padding: 2rem;
    height: 500px;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message{
    position: relative;
    display: block;
    margin: 0 auto;
    height: 2rem;
    border: none;
    background-color: var(--antiflash-white);
    border-bottom: 2px solid var(--cool-gray);
    outline: none;
    transition-duration: 500ms;
}

#message:focus{
    border-bottom: 2px solid var(--space-cadet);
    width: 90%;

}

#messages{
    height: 95%;
}
